@charset "utf-8";
@import "../core/reset";
@import "../core/common";

@import "../core/swiper-3.3.1.min.css";

@import "../module/index";  
@import "../module/home";


html,body{  
    width:100%;
    height:100%;
  	overflow:hidden;
    -webkit-box-sizing:border-box;
} 
